{% assign author = site.data.authors[include.author] %}
{% assign date = include.date %}

<div class="post-info">
  {%- if author.url -%}<a href="{{ author.url | relative_url }}" target="_blank">{%- endif -%}
    {% if author.avatar  %}
      <img src="{{ author.avatar | relative_url }}">
    {% endif %}
    <p class="meta">
      {% if author.name %}<span class="span-writer">{{ author.name }}</span>{% endif %} <span class="span-date">{{ date | date: "%Y.%m.%d" }}</span>
    </p>
  {%- if author.url -%}</a>{%- endif -%}
</div>
